.no-scroll {
  overflow: hidden;
}

.img-Logo {
  margin-left: 50px;
  margin-top: 0px;
}

h1 {
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  margin-top: 150px;
  text-align: center;
  font-size: 45px;
  color: black;
  text-decoration: none;
}

h2 {
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  margin-left: 650px;
  font-size: 25px;
  color: black;
  text-decoration: none;
}

input {
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  width: 25%;
  box-sizing: border-box;
}

.centered {
  text-align: center;
}

button {
  border: 1px solid #AEAEAE;
  border-radius: 10px;
  height: 75px;
  width: 430px;
  margin-top: 30px;
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: black;
  background-color: #AEAEAE;
  text-decoration: none;
}