.modal__wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

.modal__wrapper.open {
    height: 100%;
    display: block;
}

.modal__wrapper.close {
    height: 0;
    display: none;
}

.modal__body {
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    color: black;
    max-width: 500px;
    margin: auto;
    background: white;
    margin-top: 2%;
    padding: 10px;
    border-radius: 10px;
    max-height: 700px;
    overflow-y: scroll;
}

.modal__body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.modal__body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal__close {
    text-align: center;
    margin-top: 0px;
    font-size: 30px;
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
    float: right;
}

.modal__close:hover {
    background-color: #414040;
}

.modal__title {
    text-align: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: black;
}
