.no-scroll {
    overflow: hidden;
}

.black-background {
    background-color: #1f1f1f;
    flex: 1;
    max-width: 100%;
    height: auto;
}

.Header1_reg_page {
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 40px;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.Header2_email {
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 24%;
    left: 10%;
}

.Header2_password {
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-decoration: none;
    position: fixed;
    top: 37%;
    left: 10%;
}

.input_email_reg_page {
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    width: 60%;
    box-sizing: border-box;
    margin-bottom: 60px;
    white-space: nowrap;
}

.input_password_reg_page {
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    width: 60%;
    box-sizing: border-box;
    margin-bottom: 60px;
    white-space: nowrap;
}

.button_reg_page {
    border: 1px solid #aeaeae;
    border-radius: 10px;
    height: 60px;
    width: 60%;
    margin-top: -20px;
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
    background-color: #aeaeae;
    text-decoration: none;
    cursor: pointer;
}

.centered_reg_page {
    text-align: center;
}

.white-background {
    background-color: white;
    flex: 1;
    max-width: 100%;
    height: auto;
}

.img-Logo {
    max-width: 30%;
    height: auto;
    position: absolute;
    top: 0;
    right: 20%;
}

.img-Human {
    max-width: 40%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 15%;
}
