nav {
    background-color: #1f1f1f;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 6px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-left: 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-left: 15%;
}

.logoText {
    margin-left: 5px;
    margin-top: 5px;
    height: 35px;
    width: 155px;
}
.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 15%;
}
