.card_body {
    display: flex;
}

.delete_button:hover {
    background-color: rgba(255, 0, 0, 0.726);
    color: white;
}

.show_button {
    position: fixed;
    bottom: 10px;
    right: 20px;
    align-items: center;
    justify-content: center;
    background-color: #3d3d3d;
    border-radius: 10px;    
    border: none;
    height: 30px;
    width: 50px;
    cursor: pointer;
}

.show_button:hover {
    background-color: rgb(137, 137, 255);
}

.card_info {
    color: #878787;
    margin-top: -5px;
    font-size: 15px;
}

.label {
    text-decoration: none;
    font-size: 13px;
    color: black;
}